DISCORD_API_TOKEN = "Your Discord API Token"
TOKEN_ID = "Your token address"
DAI_ID = "The DAI address in this subgraph and Network"  ## to fetch price of DAI in nativeCurrency
SUBGRAPH_URL = "Subgraph Instance"